$include /etc/inputrc

$if Bash 
"\C-xp": "PATH=${PATH}\e\C-e\C-a\ef\C-f" 
"\C-x\"": "\"\"\C-b" 
"\C-xq": "\eb\"\ef\"" 
# Add a binding to refresh the line, which is unbound 
"\C-xr": redraw-current-line 
# Edit variable on current line. 
"\M-\C-v": "\C-a\C-k$\C-y\M-\C-e\C-a\C-y=" 
$endif

set editing-mode vi
set keymap vi-command
set show-mode-in-prompt on
set vi-ins-mode-string "(ins)"
set vi-cmd-mode-string "(cmd)"
